@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
    transition: alll 0.3s ease-in-out;
}

h1 {
    line-height: 1;
}

.hidden {
    display: none;
}

/* body {
    background-image: url('salon3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
} */

nav {
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: black;
}



/* ------------------------------------[ */
.nav-1 {
    cursor: not-allowed;

    & .nav-logo {

        font-size: 3.5rem;
        color: white;
        margin-bottom: 0;
        padding: 0;
    }

    & .nav-logo-font {
        font-family: "Bauhaus 93", sans-serif;
    }
}


.nav-2 {
    display: flex;
    width: 100%;
    justify-content: space-around;

    & a {
        color: white;
        font-size: 1.2rem;
        font-family: "Quicksand", sans-serif;
        font-weight: 500;
        text-decoration: none;
        transition: all 0.3s;
        text-decoration-color: transparent;
    }

    & a:hover {
        text-decoration: underline;
        text-decoration-color: white;
    }


}


/* -------------------------------------------------- */

.nav-window-container {
    width: 100%;
}

.services-window {
    /* position: fixed; */
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: white;

}

@media (max-width: 500px) {
    .services-item-list {
        font-size: 0.9rem;
        padding-left: 1rem;
    }
}





.book-appointment-window {
    text-align: center;
    color: black;
    background-color: white;

    & a {
        color: black;
    }
}

/* ---------------------------------------- */
.section-1 {
    background-image: url('salon3.jpg');
    height: 100vh;
    /* width: 100%; */
    background-size: cover;
    background-position: center center;
    /* overflow: hidden; */
}

.salon-intro-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;


}

.salon-intro-container-text {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
}



/* section-2 */
.instagram-videos-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}


.videos-container {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 1rem; */
    background-color: rgba(0, 0, 0, 0.8);
    object-fit: cover;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 30%;
}

@media(orientation:landscape) {
    .videos-container {
        /* margin: 1rem; */
        display: flex;
        align-items: center;
        justify-content: center;
        /* padding: 1rem; */
        background-color: rgba(0, 0, 0, 0.8);
        object-fit: cover;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .videos-container video {
        height: 40vh;
        /* width: 20%; */
    }
}

.videos-container video {
    width: 70%;
}